<div class="ro m0">
    <div class="col-xs-12 text-center fi-hor">
      <p style="font-size: 30px;font-weight: 600;" >{{title1}}</p>
      <p style="font-size: 18px;font-weight: 100;margin-bottom: 25px;">{{title2}}</p>
      <div class="vid">
        <div style="position: relative;left: -50%;"><iframe class="yttp" src="//www.youtube.com/embed/20_Se2czt8o?modestbranding=0&amp;rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
      </div>
    </div>
</div>