<div class="col-xs-12 text-center">
  <div style="max-width: 800px;margin: 0 auto;">
      <div class="row m0">
          <div class="col-xs-12" style="padding: 50px 0 20px 0;">
              <p style="font-size: 24px;color: #16d1ff;font-weight: 100;">Get it anywhere. At home or at work.</p>
          </div>
          <div class="col-xs-12 col-md-4">
              <p style="font-weight: 600;margin: 0;">Instant<br> Health Check</p>
              <p><small>covering 15+ tests</small></p>
          </div>
          <div class="col-xs-12 col-md-4 bbd">
              <p style="font-weight: 600;margin: 0;">Complete<br> Body Profile</p>
              <p><small>covering 45+ tests</small></p>
          </div>
          <div class="col-xs-12 col-md-4 bbd">
              <p style="font-weight: 600;margin: 0;">Complete Body Profile<br> + Vitamins</p>
              <p><small>covering 47 tests</small></p>
          </div>
          <div class="col-xs-12" style="padding: 20px 0;">
              <p><a class="btn" routerLink="/booking">Book a Health Check</a></p>
          </div>
      </div>
  </div>
</div>